{% extends 'base.html' %}
{% block title %}- Delete{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-info">
                Do you want to delete {{object}}?
            </div>
            <form action="" method="post">
                {{form.as_p}}
                {%csrf_token%}
                <input type="submit" class="btn btn-primary" value="Confirm">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}